HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
x!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.yml
*.log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/htmlReport
### NetBeans ###
/nbproject/private/
/xnbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
